body, html {
    /* background-color: black;
    color: white; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
    padding: 3px;
}

span {
    font-size: small;
}

ul li {
    font-size: small;
}